

<div class="registerForm">
    <h2 class="SWfont">Register</h2>
    <form action="/profile" method="post">
        <!-- from bootsrtap -->
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" name="userName" placeholder="userName here" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <p class="required">Required ^</p>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Password</span>
            <input type="text" class="form-control" name="password" placeholder="password here" aria-describedby="addon-wrapping">
        </div>
        <p class="required">Required ^</p>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">First Name</span>
            <input type="text" class="form-control" name="firstName" placeholder="first name here" aria-describedby="addon-wrapping">
        </div>
        <p class="optional">Optional ^</p> 

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Last Name</span>
            <input type="text" class="form-control" name="lastName" placeholder="last name here" aria-describedby="addon-wrapping">
        </div>
        <p class="optional">Optional ^</p>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Age</span>
            <input type="text" class="form-control" name="age" placeholder="your age here" aria-describedby="addon-wrapping">
        </div>
        <p class="optional">Optional ^</p>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Gender</span>
            <input type="text" class="form-control" name="gender" placeholder="your gender here" aria-describedby="addon-wrapping">
        </div>
        <p class="optional">Optional ^</p>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Profile Image</span>
            
            <select type="text" class="form-control" name="profileImg" aria-describedby="addon-wrapping">
                <option class="form-control" value="/images/Clone-Trooper.png">Clone Trooper</option>
                <option class="form-control" value="/images/chill-red-blue-clone.png">Chill Red Blue Clone</option>
                <option class="form-control" value="/images/darth-vader.png">Darth Vader </option>
                <option class="form-control" value="/images/kylo-ren.jpeg">Kylo Ren</option>
                <option class="form-control" value="/images/80s-clone.png">80s Clone</option>
                <option class="form-control" value="/images/erik-m1999.png">Erik M1999</option>
                <option class="form-control" value="/images/red-clone.png">Red Clone</option>
                <option class="form-control" value="/images/baby-yoda.png">Baby Yoda</option>
            </select>
        </div>
        <p class="optional">Optional ^</p>



        <br>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>


