<ul class="nav nav-tabs">
    <li>
        <h2>StarWars Social  </h2>
    </li>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false">Movies</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Most liked</a></li>
          <li><a class="dropdown-item" href="#">recently made</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false">Tv-Shows</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Most liked</a></li>
        <li><a class="dropdown-item" href="#">recently made</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false">Games</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Most liked</a></li>
          <li><a class="dropdown-item" href="#">recently made</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
    
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Games</a>
    </li> -->
  
  </ul>
