<link rel="stylesheet" href="style.css"/>

<div class="container">
    <ul>
        <% for(let i=0; i < movies.length; i++){ %>
            <div class="" style="width: 25vw">
                <h1><%=movies[i].title %></h1>
                <img src="<%=movies[i].img %>" alt="" class="img-fluid img-thumbnail">
            </div>
        <% } %>     
    </ul>

</div>