
<link rel="stylesheet" type="text/css" href="style.css">

<h1>Welcome</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=movie.title %></h1>
            
            <img src="<%=movie.img %>" alt="" class=" img-fluid img-thumbnail ">
            
        </div>

</div>



