
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

<div class="container">

    <% for(let i=0; i < movies.length; i++){ %>
        <div class="item" >
            
                <a href='/movies/<%=movies[i]._id %>/movie'>
                   
                    <div class="title-div">
                        <h1 class="font-adjust"><%=movies[i].title %></h1>
                    </div>
                
                    <div class="img-div">
                        <img src="<%=movies[i].img %>" alt="" class="img  img-thumbnail">
                    </div>
                </a>
        </div>
    <% } %>     

</div>
