
<form action="/profile/login" method="POST">

    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" name="userName" placeholder="userName" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <input type="submit" class="btn btn-primary" />
</form>