

<h1>Game</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=game.title %></h1>
            
            <img src="<%=game.img %>" alt="" class=" img-fluid img-thumbnail ">
            
        </div>

</div>