


<h1>Tv-Show</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=tvShow.title %></h1>
            
            <img src="<%=tvShow.img %>" alt="" class=" img-fluid img-thumbnail ">
        </div>

        <div>
            <a href="<%=tvShow.links.buy %>">BUY HERE: no link yet</a>
            <br>
            <a href="<%=tvShow.links.trailer %>">View Trailer: no link yet</a>
        </div>

</div>
