


<h1>Tv-Show</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=tvShow.title %></h1>
            
            <img src="<%=tvShow.img %>" alt="" class=" img-fluid img-thumbnail ">
            
        </div>

</div>
