

<h1>Tv-shows</h1>
<div>
    
    <% for(let i=0; i < tvShows.length; i++){ %>
        <div class="container-sm " style="width: 25vw">
            <h1 class="primary"><%=tvShows[i].title %></h1>
            <img src="<%=tvShows[i].img %>" alt="" class="img-fluid img-thumbnail">
        </div>
    <% } %>     
 
</div>